.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
}

.infoContainer {
  flex: 1;
  font-weight: bold;
}

.imageContainer {
  height: 300px;
  width: 300px;
  position: relative;
  margin-bottom: 20px;
}

.productImage {
  border-radius: 10px;
  object-fit: cover;
}

.formContainer {
  flex: 3;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input,
.form textarea,
.form select {
  padding: 20px;
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid #2e374a;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form button {
  padding: 20px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* in the detaile page, we display the value for every field with placeholder */
/* but for select element, it doesn't have default value */
/* and we want to have the same text color, so we change the color of placeholder text */
.form input::placeholder,
.form textarea::placeholder {
  color: var(--text) !important;
  opacity: 1;
}

/* for compatibility */
.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: var(--text) !important;
}

.form input::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: var(--text) !important;
}

.form input:-ms-input-placeholder {
  color: var(--text) !important;
}
