/* used in /dashboard/layout.js */
.container {
  display: flex;
}

/* about flex:1 and flex:4, it means the .menu occupy 1/(4+1) */
.menu {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
}

.content {
  flex: 4;
  padding: 20px;
}
/* --- used in /dashboard/layout.js --- */

/* --- used in /dashboard/page.jsx --- */
.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  /* background-color: burlywood; */
}
.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.side {
  flex: 1;
  /* background-color: cadetblue; */
}
