.container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
}

.input {
  background-color: transparent;
  /* make the border transparent instead of none, because we want to set color for focus */
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px 4px 4px 10px;
  color: var(--text);
}

.input:focus {
  outline: none; /* remove default outline */
  border-color: var(--accent);
}
