/* :root is a pseudo class selector, it's similar to :hover */
/* root match the root html element, it has a higher priority */
/* the variable defined here, we could use it in all the app */
:root {
  --bg: #151c2c;
  --bgSoft: #182237;
  --text: white;
  --textSoft: #b7bac1;
  --accent: #4a90e2;
  --btnPurple: #5d57c9;
}

/* reset the default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  /* remove the underline of a tag */
  text-decoration: none;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #1b2631;
  border-right-color: #b7c7d7;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
